/zad_1/zad1/nbproject/private/
/zad_1/zad1/build/
/zad_1/Zad2/nbproject/private/
/zad_1/Zad2/build/
/Zadanie3/nbproject/private/
/Zadanie3/build/
/dupa/nbproject/private/
/dupa/build/
/Zad4/nbproject/private/
/Zad4/build/
/zad6/nbproject/private/
/zad6/build/
/16zad1/nbproject/private/
/16zad1/build/
/16zad2/nbproject/private/
/16zad2/build/
/16zad3/nbproject/private/
/16zad3/build/
/Zadanie4/nbproject/private/
/Zadanie4/build/
/zad5/nbproject/private/
/zad5/build/
/17.02/zad1/nbproject/private/
/17.02/zad1/build/
/17.02/zad2/nbproject/private/
/17.02/zad2/build/
/17.02/Zad3/nbproject/private/
/17.02/Zad3/build/
/17.02/Zad.4/nbproject/private/
/17.02/Zad.4/build/
/17.02/zad5/nbproject/private/
/17.02/zad56/nbproject/private/
/17.02/zad56/build/
/17.02/zad5/build/
/17.02/Sortowanie/nbproject/private/
/17.02/Sortowanie/build/
/17.02/CountingSortEnhanced/nbproject/private/
/17.02/CountingSortEnhanced/build/
/17.02/SortowaniePrzezScalanie/nbproject/private/
/17.02/SortowaniePrzezScalanie/build/
/17.02/Main/nbproject/private/
/17.02/Main/build/
/20.02/20zad1/nbproject/private/
/20.02/20zad1/build/
/20.02/java20_2/nbproject/private/
/20.02/java20_2/build/
/20.02/java20_6/nbproject/private/
/20.02/java20_6/build/
/20.02/max/nbproject/private/
/20.02/max/build/
/20.02/zad20.8/nbproject/private/
/20.02/zad20.8/build/