/zad_1/zad1/nbproject/private/
/zad_1/zad1/build/
/zad_1/Zad2/nbproject/private/
/zad_1/Zad2/build/
/Zadanie3/nbproject/private/
/Zadanie3/build/
/dupa/nbproject/private/
/dupa/build/
/Zad4/nbproject/private/
/Zad4/build/
/zad6/nbproject/private/
/zad6/build/
/16zad1/nbproject/private/
/16zad1/build/
/16zad2/nbproject/private/
/16zad2/build/
/16zad3/nbproject/private/
/16zad3/build/
/Zadanie4/nbproject/private/
/Zadanie4/build/
/zad5/nbproject/private/
/zad5/build/
/17.02/zad1/nbproject/private/
/17.02/zad1/build/